<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366699841816-knd8f6qj1no0rml3kgcu2ca7su4ni5hg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366699841816-knd8f6qj1no0rml3kgcu2ca7su4ni5hg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>366699841816-7pnej4ahlrbopp4vh3g8s98tnp44n2r9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCQfafm1MO6qkJLK-32Gz6et7ueFTMXrgs</string>
	<key>GCM_SENDER_ID</key>
	<string>366699841816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterNote</string>
	<key>PROJECT_ID</key>
	<string>flutter-note-2feb3</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-note-2feb3.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366699841816:ios:64de244c44cf7aef11766d</string>
</dict>
</plist>